body {
    background-color: #f8f9fa;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.inverted {
    filter: invert(100%)
}

footer {
    text-align: center;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.featurette-divider {
    margin: 5rem 0;
}

.hr {
    margin-top: 10rem;
    margin-bottom: 6rem;
    border: 0;
    border-top: 1.5px solid #eee;
    text-align: center;
    height: 0px;
    line-height: 0px;
    font-size: 30px;
}

.hr-title {
    background-color: #f8f9fa;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    margin-top: 0;
}

.mbottom {
    margin-bottom: 32rem
}

.left {
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    opacity: .95;
}

input {
    opacity: .7;
    color: black
}

select,
option {
    opacity: .75;
    color: black
}

button {
    opacity: .9;
}

.red {
    background-color: red;
    opacity: .65;
    color: white
}

.yellow {
    background-color: yellow;
    opacity: .65;
}

.green {
    background-color: green;
    opacity: .65;
    color: white
}

.navbarTitle {
    font-family: 'Akronim', cursive;
    font-size: 40px;
}

.navbar {
    padding: 0
}

.navbar-brand {
    padding-bottom: 0
}