div.table {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    height: 200%;
    text-align: center;
    border-collapse: collapse;
}

.divTable.table .divTableCell,
.divTable.table .divTableHead {
    border: 1px solid #AAAAAA;
    padding: 6px 6px;
}

.divTable.table .divTableBody .divTableCell {
    font-size: 13px;
    vertical-align: middle;
}

.divTable.table .divTableRow:nth-child(even) {
    background: #D0E4F5;
}

.divTable.table .divTableHeading {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

.divTable.table .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}

.divTable.table .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.table .tableFootStyle {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
}

.table .tableFootStyle {
    font-size: 12px;
}

.table .tableFootStyle .links {
    text-align: right;
}

.table .tableFootStyle .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.table.outerTableFooter {
    border-top: none;
}

.table.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}

/* DivTable.com */
.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
    justify-content: center;
    align-items: center;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

.mb {
    margin-bottom: 100px
}